
body{
    background-color: rgb(5, 5, 22);
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 50px;
    column-gap: 1em;
    height: 250px;
    max-width: 80%;
    margin: auto;
}
.wrapper .one{
    background-color: aqua;
}
.wrapper .two{
    background-color: red;
}

.wrapper-one{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-top: 1em;
    column-gap: 1em;
    height: 250px;
    max-width: 80%;
    margin: auto;
}

.wrapper-one .row{
    display: grid;
    row-gap: 1em;
    grid-template-rows: 3fr 3fr;
}
.wrapper-one .three{
    background-color: yellow;
}
.wrapper-one .four{
    background-color: green;
}
.wrapper-one .five{
    background-color: orchid;
}
